:root {
    --font-size: 20px;
    --line-height: 1.2em;
}

html {
    font-size: var(--font-size);
    font-family: 'Reddit Mono', monospace;
}

.NavLinks {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    padding: 0.5em;
    margin-left: -2em;
}

.LinkGroup {
    display: flex;
    flex-direction: column;
    row-gap: 0.2em;
    padding-left: 2em;
    border-left: 1px solid black;
}

.Link {
    display: flex;
    flex-direction: row-reverse;
    max-width: fit-content;
    column-gap: 0.5em;
    justify-content: space-between;
}

.LinkText {
    color: black;
    line-height: var(--line-height);
    white-space: nowrap;
    transition: color 0.2s ease-in;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        color: rgb(51, 51, 51);
        text-decoration-line: underline;
        text-decoration-color: #ffda72;
    }
}

.LinkToggler {
    display: flex;
    line-height: var(--line-height);
    padding-inline: 0.5em;

    background-color: #ffe7a6;
    border-radius: 0.2em;

    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: #ffda72;
    }
}
