{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
        <link href='https://fonts.googleapis.com/css2?family=Reddit+Mono&display=swap' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <script type='module' src="{% static 'index.js' %}" ></script>

        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        {% block submenu %}{% endblock submenu %}
    </body>
</html>
